<app-header></app-header>
<!-- <button class="btn btn-primary" (click)="renderValues()">
  call render values
</button> -->
<!-- <div class="container m-auto">
  <a [routerLink]="['/Home']" class="btn btn-link">Home</a>
  <a [routerLink]="['/Product']" class="btn btn-link">Products</a>
  <a [routerLink]="['/Users']" class="btn btn-link">Users</a>
  <a [routerLink]="['/Posts']" class="btn btn-link">Posts</a>
</div> -->

<!-- <app-products></app-products> -->
<router-outlet></router-outlet>
<app-footer></app-footer>
